
body, html, main{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main{
  position: relative;
  height: calc(100vh - 100px);
}

.page {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
}


#contactMe div{
  width: 90%;
  margin: 0 auto;
}


#burger{
  display: grid;
  justify-content: end;
  height:50px;
}

#banner{
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: end;
  padding-right:20px;
}

#banner div{
  display: grid;
  align-content: center;
  padding: 0px 5px;
}

#experiance{
  align-content: center;
}

.page #content{
  overflow: scroll;
}

#work{
  box-sizing: border-box;
  width: 95%;
  max-width: 1000px;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: white;
}

#work-title{
  color: white;
  background-color: #00E0FF;
}

#projectDetails #gif, #summary, #title{
  /* background-color: red; */
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 15px;
}


#projectDetails #title{
  text-align: center;
  overflow: scroll;
}


#projectDetails #summary{
  height: 200px;
}

#projectDetails{
  display: grid;
  height: 500px;
  margin: 0 auto;
  width: 80%;
}


#gif{
  overflow: hidden;
}

#projects{
  display: grid;
  justify-content: center;
  align-content: center;
}

#projects #text{
  max-width: 400px;
}

@media (min-width: 900px) {

  main{
    height: calc(100vh - 50px);
  }

  .page div{
    /* width: 80%;
    margin: auto; */
  }

  #footer {
    height: 200px;
    width: 0px;
  }

  #job-experiance{
    width: 800px;
  }

  #projectDetails{
    grid-template-columns: 1fr 1fr;
    height: 350px;
    max-width: 1200px;
  }

  img{
    /* background-color: chartreuse; */
    width: 600px; 
  }
}