
@keyframes slideInFromBottom {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}


#footer{
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

#header{
  animation: 1s ease-out 0s 1 slideInFromTop;
  background-color: white;
  height: 50px;
}

body, html, #root,main{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

.Portfolio{
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto 50px;
}

main{
  position: relative;
  grid-row: 2 / span 1;
  overflow: scroll;
}

.page {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
}


#home, #contactMe{
  text-align: center;
}

#experience{
  padding: 100px 0;
}

#summary #text{ 
  height: 80%;
  overflow: scroll;
  margin: auto;
}

#contactMe div{
  width: 90%;
  margin: 0 auto;
}


#burger{
  display: grid;
  justify-content: end;
  height:50px;
}

#banner{
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: end;
  padding-right:20px;
}

#banner div{
  display: grid;
  align-content: center;
  padding: 0px 5px;
}

.page #content{
  margin: auto;
}

#work{
  box-sizing: border-box;
  width: 95%;
  max-width: 1000px;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: white;
}

#work-title{
  margin: 10px;
  text-align: start;
}

#projectDetails #gif, #summary, #title{
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 15px;
}


#projectDetails #title{
  text-align: center;
}


#projectDetails #summary{
  height: 200px;
}

#projectDetails{
  display: grid;
  height: 400px;
  margin: 0 auto 15px auto;
  width: 80%;
  overflow: hidden;
}


#gif{
  overflow: hidden;
}


#projects #text{
  max-width: 400px;
}

#titles{
  transition: .5s linear;
}

#pageHeading{
  text-align: center;
  text-decoration: underline;
}

/* #resumeDownload, #linkedIn, #gitHub{
  transition: transform 250ms;
}

#resumeDownload:hover, #linkedIn:hover, #gitHub:hover{
  transform: translateY(-10px);
} */


@media (min-width: 900px) {

  main{
    grid-row: 2 / span 2;
  }

  .epage{
    margin: 0 100px
  }

  #footer {
    height: 200px;
    width: 0px;
    margin-left: 10px;
  }

  #projectDetails{
    grid-template-columns: 1fr 1fr;
    height: 350px;
    max-width: 1200px;
  }


  #summary #text{
    height: 100%;
  }

  #projectDetails #summary{
    height: 100%;
  }

  img{
    width: 600px; 
  }
}