/* .App {
  text-align: center;
} */


main, header{
  /* background-color: ghostwhite; */
}

footer{
  z-index: -2;
}

#work{
  box-sizing: border-box;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;

}

#job-experiance{
  width: 100%;
  /* justify-content: center; */
}

a p:link, a p:visited{
  text-decoration: none;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
}

@media screen and (min-width: 900px) {
  #footer {
    height: 200px;
    width: 0px;
  }


  #job-experiance{
    width: 800px;
  }
}